/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <4>;
// | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |                                   | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |
// | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |                                   | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |
// | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 / SW19 /                     \ SW19 \ SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |
//                         | SW20 / SW21 / SW22 / SW23 /               \ SW23 \ SW23 \ SW21 \ SW20 |
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                                   RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                                   RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(3,5)                   RC(3,6) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
                                RC(3,1) RC(3,2) RC(3,3) RC(3,4)   RC(3,7) RC(3,8) RC(3,9) RC(3,10)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "HSHS46";
        kscan = <&kscan0>;
        transform = <&default_transform>;
        keys = <
            // Row 0 - Left side (columns 0-5)
            // Format: width height x y rotation splay stagger
            // Column 0: outer column, slight splay outward, no stagger
            &key_physical_attrs 100 100 -50 0 0 5 0      // RC(0,0)
            // Column 1: slight splay, slight upward stagger
            &key_physical_attrs 100 100 50 -5 0 3 -5     // RC(0,1)
            // Column 2: index column, minimal splay, more stagger
            &key_physical_attrs 100 100 150 -10 0 2 -10  // RC(0,2)
            // Column 3: middle column, slight inward, more stagger
            &key_physical_attrs 100 100 250 -15 0 -2 -15 // RC(0,3)
            // Column 4: ring column, more inward, less stagger
            &key_physical_attrs 100 100 350 -10 0 -4 -10  // RC(0,4)
            // Column 5: pinky column, more inward, minimal stagger
            &key_physical_attrs 100 100 450 -5 0 -6 -5  // RC(0,5)
            // Gap (columns 6-11 start at x=800 to leave space)
            // Row 0 - Right side (columns 6-11) - mirrored splay angles
            &key_physical_attrs 100 100 850 -5 0 -6 -5   // RC(0,6)
            &key_physical_attrs 100 100 950 -10 0 -4 -10 // RC(0,7)
            &key_physical_attrs 100 100 1050 -15 0 -2 -15 // RC(0,8)
            &key_physical_attrs 100 100 1150 -10 0 2 -10 // RC(0,9)
            &key_physical_attrs 100 100 1250 -5 0 3 -5   // RC(0,10)
            &key_physical_attrs 100 100 1350 0 0 5 0     // RC(0,11)
            // Row 1 - Left side (columns 0-5)
            &key_physical_attrs 100 100 -50 100 0 5 0     // RC(1,0)
            &key_physical_attrs 100 100 50 95 0 3 -5      // RC(1,1)
            &key_physical_attrs 100 100 150 90 0 2 -10    // RC(1,2)
            &key_physical_attrs 100 100 250 85 0 -2 -15   // RC(1,3)
            &key_physical_attrs 100 100 350 90 0 -4 -10   // RC(1,4)
            &key_physical_attrs 100 100 450 95 0 -6 -5    // RC(1,5)
            // Row 1 - Right side (columns 6-11)
            &key_physical_attrs 100 100 850 95 0 -6 -5   // RC(1,6)
            &key_physical_attrs 100 100 950 90 0 -4 -10  // RC(1,7)
            &key_physical_attrs 100 100 1050 85 0 -2 -15 // RC(1,8)
            &key_physical_attrs 100 100 1150 90 0 2 -10  // RC(1,9)
            &key_physical_attrs 100 100 1250 95 0 3 -5   // RC(1,10)
            &key_physical_attrs 100 100 1350 100 0 5 0   // RC(1,11)
            // Row 2 - Left side (columns 0-5)
            &key_physical_attrs 100 100 -50 200 0 5 0     // RC(2,0)
            &key_physical_attrs 100 100 50 195 0 3 -5     // RC(2,1)
            &key_physical_attrs 100 100 150 190 0 2 -10   // RC(2,2)
            &key_physical_attrs 100 100 250 185 0 -2 -15  // RC(2,3)
            &key_physical_attrs 100 100 350 190 0 -4 -10  // RC(2,4)
            &key_physical_attrs 100 100 450 195 0 -6 -5  // RC(2,5)
            // Thumb cluster - Left side (RC(3,5)) - positioned lower and inward
            &key_physical_attrs 100 100 550 220 0 -10 20 // RC(3,5) - thumb key
            // Row 2 - Right side (columns 6-11)
            // Thumb cluster - Right side (RC(3,6)) - positioned lower and inward
            &key_physical_attrs 100 100 750 220 0 10 20   // RC(3,6) - thumb key
            &key_physical_attrs 100 100 850 195 0 -6 -5  // RC(2,6)
            &key_physical_attrs 100 100 950 190 0 -4 -10  // RC(2,7)
            &key_physical_attrs 100 100 1050 185 0 -2 -15 // RC(2,8)
            &key_physical_attrs 100 100 1150 190 0 2 -10  // RC(2,9)
            &key_physical_attrs 100 100 1250 195 0 3 -5   // RC(2,10)
            &key_physical_attrs 100 100 1350 200 0 5 0   // RC(2,11)
            // Row 3 - Left side (columns 1-4) - bottom row, more stagger
            &key_physical_attrs 100 100 50 295 0 3 -5    // RC(3,1)
            &key_physical_attrs 100 100 150 290 0 2 -10   // RC(3,2)
            &key_physical_attrs 100 100 250 285 0 -2 -15  // RC(3,3)
            &key_physical_attrs 100 100 350 290 0 -4 -10  // RC(3,4)
            // Row 3 - Right side (columns 7-10)
            &key_physical_attrs 100 100 950 290 0 -4 -10  // RC(3,7)
            &key_physical_attrs 100 100 1050 285 0 -2 -15 // RC(3,8)
            &key_physical_attrs 100 100 1150 290 0 2 -10  // RC(3,9)
            &key_physical_attrs 100 100 1250 295 0 3 -5   // RC(3,10)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

    };


};
